<style>

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #ffffff;
		margin:0;
		padding:0;
		text-align: center;
	}

	h4{
		text-shadow: 3px 5px 1px gray;
	}

	#hamlet h1 {
		text-shadow: 3px 5px 1px #e8e8e8;
	}

    span{
    	color:#ffffff;
    }
	.textSplitLoad {
    	display: none;
	}
	.split {
    	visibility: hidden;
	}

	#section0 h1 {
		font-size:6em;
	}

	#section3 .gi-description{
		font-size:2em;
	}
	.gi-description {
    	float: right;
    	margin-left: 3%;
    	margin-right: 3%;
    	width: 50%;
	}

	.game-image {
    	float: right;
    	margin-right: 20px;
    	width: 50%;
	}

	#ontainer {
    	display: table-cell;
    	vertical-align: middle;
    	text-align: center;
    	color: #cccccc;
    	width: 100%;
    	padding: 50px;
}
	}
	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		padding: 30% 0 0 0;
		background: linear-gradient(-45deg, rgba(153, 149, 150, 0.8), rgba(153, 149, 150, 0.4)),
		url(../img/blueskyA.jpg);
  		background-size: 100vw 100vh;	
	}

	#section0 p{
		color: white;
	}

	#gradient_box:hover {
  		background-color: rgb(64, 157, 255);
	}



	#section1{
		background: linear-gradient(-45deg, rgba(153, 149, 150, 0.8), rgba(153, 149, 150, 0.4)),
  		url(../img/blueskyB.jpg);
		background-size: 100vw 100vh;
		padding: 6% 0 0 0;
		position: relative;
  		width: 100%;
  		padding-top: 56.25%;
	}



	#section1 iframe {
  		position: absolute;
  		top: 0;
  		right: 0;
  		width: 100% !important;
  		height: 100% !important;
	}

	#section2{
		background: linear-gradient(-45deg, rgba(153, 149, 150, 0.8), rgba(153, 149, 150, 0.4)),
		url(../img/greenforest.jpg);
		background-size: 100vw 100vh;
		padding: 6% 0 0 0;
	}

	#section2 h1 {
		margin-top: 10%;
		font-size: 300%;
		color: white;
	}

	.story h2 {
		text-align: left;
		margin-top: 5%;
		font-size: 200%;
		color: white;
	}


	#section3{
		background: linear-gradient(-45deg, rgba(153, 149, 150, 0.8), rgba(153, 149, 150, 0.4)),
		url(../img/falls.jpg);
		background-size: 100vw 100vh;
		text-align: center;
		padding: 6% 0 0 0;
	}


	.top h3{
		text-align: left;
		font-size: 190%;
		color: white;
	}

	.gi-description{
		text-align: left;
	}

	#section4{
		position: relative;
		background: linear-gradient(-45deg, rgba(153, 149, 150, 0.8), rgba(153, 149, 150, 0.4)),
		url(../img/greenforest.jpg);
		background-size: 100vw 100vh;
	}

	.top{
		position: relative;
		height: 50%;
		margin-top: 10%;
	}
	.under{
		position: relative;
		height: 50%;
		height:50%;
	}

	#section5{
		background:url(../img/bg4.jpg);
		background-size: 100vw 100vh;
		padding: 6% 0 0 0;
	}


	#email-subscribe{
		background-color:#e8e8e8;
	    position: absolute;
    	bottom: 5%;
    	width: 100%;
    	padding: 4vh 0;
   }	
	#section3 h1{
		color: #000;
	}


 	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background: linear-gradient(-45deg, rgba(153, 149, 150, 0.8), rgba(153, 149, 150, 0.4)),
		url(../img/bg2.jpg);
		background-size: 100vw 100vh;
		padding: 6% 0 0 0;
	}	
	#slide2{
		background: linear-gradient(-45deg, rgba(153, 149, 150, 0.8), rgba(153, 149, 150, 0.4)),
		url(../img/greenforest.jpg);
		background-size: 100vw 100vh;
		padding: 6% 0 0 0;
	}
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

   img {
  		float: left;
  		width: 40%;
  		height: 20%;
	}

	</style>